
.ipynb_checkpoints/multicriterion_optimization-checkpoint.ipynb
.ipynb_checkpoints/dcp_tutorial-checkpoint.ipynb
.ipynb_checkpoints/cvxpy_tutorial-checkpoint.ipynb
.ipynb_checkpoints/dcp_tutorial-checkpoint.ipynb
.ipynb_checkpoints/cvxpy_tutorial-checkpoint.ipynb
.ipynb_checkpoints/dcp_tutorial-checkpoint.ipynb
.ipynb_checkpoints/cvx_lecture_slides-checkpoint.ipynb
.ipynb_checkpoints/dcp_tutorial-checkpoint.ipynb
